{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">

      <h1 class="text-center text-dark mt-2">{% trans 'Sign Up' %}</h1>
      <div class="card my-5">
        <form class="card-body cardbody-color p-lg-5" method="POST" action="{% url 'account_signup' %}">
          <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign
              in</a>.{% endblocktrans %}</p>
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <div class="mb-3">
            <input type="hidden" class="form-control px-5 mt-5 w-100" name="{{ redirect_field_name }}"
              value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="text-center"><button type="submit" class="btn btn-color px-5 mt-5 w-100">{% trans 'Sign Up' %}
                &raquo;</button>
            </div>
          </form>
          </div>
        
      </div>
    </div>
  </div>
</div>
{% endblock %}