{% extends "base.html" %} {% load static %} {% block content %}

{% if request.user == comment.user %}
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card my-5">
        <form class="card-body cardbody-color p-lg-5" method="POST">
          <h3 class="text-center text-dark mt-1">Edit Comment</h3>
          {% csrf_token %}
          <div class="col-8 d-flex justify-content-center">{{ form.as_p }}</div>
          <div class="mb-3 d-flex justify-content-center">
            <input type="submit" class="btn btn-color" aria-label="Edit comment" value="Confirm" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="card my-5">
  <div class="card.body cardbody-color p-lg-5 d-flex justify-content-center">
    <h2>You may not modify other users' comments! Either login and modify your post, or
      <a href="{% url 'home' %}">go Home</a>.</h2>
  </div>
</div>

{% endif %}
{% endblock %}