{% extends 'base.html' %}


{% block content %}

<!-- Page content-->
<!-- Tags-->
<p>
    {% for tag in tags %}
        {{ tag }},
    {% endfor %}
</p>

<div class="container-fluid">
    <div class="row">
        <!-- Blog entries-->
        <div class="col-12 mt-3 left">
            <div class="row">
            {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                <!-- Placeholder image -->
                                {% if "placeholder" in post.featured_image.url %}
                                <img class="card-img-top object-fit-cover" 
                                    src="https://scgovlibrary.librarymarket.com/sites/default/files/2020-12/dndmobile-br-1559158957902.jpg" 
                                    alt="a default blog picture with a dragon">
                                {% else %}
                                <!-- Admin chosen image -->
                                <img class="card-img-top object-fit-cover" src=" {{ post.featured_image.url }}" alt="picture">
                                {% endif %}
                                
                            </div>
                            <div class="flex-wrap d-flex mt-1">
                            {% for tag in post.tags.all %}
                                <a href="{% url 'tagged' tag.slug %}" class="btn btn-primary tag-link">{{ tag }}</a>
                            {% endfor %}
                            </div>
                            <h2 class="card-title h4">{{ post.title }}</h2>
                            <div class="image-flash">
                                <p class="author">
                                    Author: {{ post.author }}
                                </p>
                            </div>
                            <p class="card-text">{{ post.excerpt }}</p>
                            <div class="small text-muted">{{ post.created_on}}</div>
                            <a class="btn btn-primary" href="{% url 'post_detail' post.slug %}">Read more →</a>
                            <hr>
                            <i class="far fa-heart btn-like"></i> {{ post.number_of_likes }}
                        </div>
                    </div>
                </div>
            
            {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
            {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>

    {% if page_obj.has_other_pages %}
    <nav>
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">
                        First
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                        Previous
                    </a>
                </li>
            {% endif %}
<!-- Pagination -->
            {% for page_number in page_obj.paginator.page_range %}
                
                {% if page_number <= page_obj.number|add:3 and page_number >= page_obj.number|add:-3 %}
                    {% if page_obj.number == page_number %}
                        <li class="page-item active">
                            <a class="page-link" href="?page={{ page_number }}">
                                {{ page_number }}
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_number }}">
                                {{ page_number }}
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                        Next
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                        Last
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
</div>

{% endblock content %}