{% extends "base.html" %}

{% load static %}

{% block content %}


{% if success_message %}
  <div class="alert alert-success">{{ success_message }}</div>
{% endif %}
{% if failure_message %}
  <div class="alert alert-warning">{{ failure_message }}</div>
{% endif %}
  
<div id="piechart"></div>


<div class="container px-3">
  <h2> {{ poll.name }}</h2>
  <i>
    <h6> {{ poll.description }} </h6>
  </i>
    <hr class="my-4">
{% comment %} Loops through all options in the given poll and puts them into a form {% endcomment %}
    <form method="post">
      {% csrf_token %}
      {% for option in poll.options.all %}
      <div class="form-check">
        <input class="form-check-input" type="radio" name="option_id" id="{{ option.id }}"
        value="{{ option.id }}">
        <label class="form-check-label" for="{{ option.id }}">
          {{ option.name }}
        </label>
      </div>
      {% endfor %}
      <hr class="my-4">
      <button class="btn btn-outline-success mb-2">Vote</button>
    </form>
</div>
{% endblock content %}

{% block extrajs %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  var poll_results = {{ poll_results|safe }};

  // Load google charts
  google.charts.load('current', { 'packages': ['corechart'] });
  google.charts.setOnLoadCallback(drawChart);

  // Draw the chart and set the chart values
  function drawChart() {
    
    poll_results.unshift(["Option", "Vote Count"]);
    var data = google.visualization.arrayToDataTable(poll_results);

    // Optional; add a title and set the width and height of the chart
    var options = { 'width': 550, 'height': 400 };

    // Display the chart inside the <div> element with id="piechart"
    var chart = new google.visualization.PieChart(document.getElementById('piechart'));
    chart.draw(data, options);
  }
</script>
{% endblock extrajs %}
  