{% extends "base.html" %}

{% load static %}

{% block content %}


{% if success_message %}
  <div class="alert alert-success">{{ success_message }}</div>
{% endif %}
  
<div class="container px-3">
  <h2> {{ poll.name }}</h2>
  <i>
    <h6> {{ poll.description }} </h6>
  </i>
    <hr class="my-4">
{% comment %} Loops through all options in the given poll and puts them into a form {% endcomment %}
    <form method="post">
      {% csrf_token %}
      {% for option in poll.options.all %}
      <div class="form-check">
        <input class="form-check-input" type="radio" name="option_id" id="{{ option.id }}"
        value="{{ option.id }}">
        <label class="form-check-label" for="{{ option.id }}">
          {{ option.name }}
        </label>
      </div>
      {% endfor %}
      <hr class="my-4">
      <button class="btn btn-outline-success mb-2">Vote</button>
    </form>
</div>
{% endblock content %}