{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">{{ post.title }}</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">{{ post.author }} | {{ post.created_on }}</p>
                    <!-- Post tags-->
                    {% for tag in post.tags.all %}
                        <small>{{ tag }}</small>
                    {% endfor %}
                </header>
                <!-- Preview image figure-->
                {% if "placeholder" in post.featured_image.url %}
                <figure class="mb-4"><img class="img-fluid rounded" src="https://scgovlibrary.librarymarket.com/sites/default/files/2020-12/dndmobile-br-1559158957902.jpg" 
                alt="a default blog picture with a dragon" /></figure>
                    {% else %}
                    <figure class="mb-4"><img class="img-fluid rounded" src=" {{ post.featured_image.url }}" alt="uploaded blog picture" /></figure>
                    {% endif %}
                <!-- Post content-->
                <div class="row">
                    <div class="col card mb-4  mt-3 left top">
                        <div class="card-body">
                            <p class="card-text ">
                                {{ post.content | safe }}
                            </p>
                            <div class="row">
            
                                <div class="col-1">
                                    <strong>
                                        
                                        {% if user.is_authenticated %}
                                            <form action="{% url 'post_like' post.slug %}" method="POST" class="d-inline">
                                                {% csrf_token %}
                                                {% if liked %}
                                                    <button class="btn-like" type="submit" name="blogpost_id" value="{{post.slug}}"><i class="fas fa-heart"></i></button>
                                                {% else %}
                                                    <button class="btn-like" type="submit" name="blogpost_id" value="{{post.slug}}"><i class="far fa-heart"></i></button>
                                                {% endif %}
                                                    
                                            </form>
                                        {% else %}
                                            <span class="text-secondary"><i class="far fa-heart"></i></span>
                                        {% endif %}
                                        <span class="text-secondary">{{ post.number_of_likes }}</span>
                                            
                                    </strong>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <!-- Comments section-->
            <div class="mb-4 row">
                <div class="col card bg-light mt-3 left top">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 card mb-4 mt-3">
                                <h3>Comments:</h3>
                                <div class="card-body">
                                    
                                    {% for comment in comments %}
                                    <div class="comments" style="padding: 10px;">
                                        <p class="font-weight-bold">
                                            {{ comment.user }}
                                            <span class=" text-muted font-weight-normal">
                                                {{ comment.created_on }}
                                            </span> wrote:
                                            
                                        </p>
                                        {{ comment.body | linebreaks}}
                                    </div>
                                    <!-- Edit/Delete Comment icons -->
                                    {% if request.user == comment.user %}
                                    <button type="button" class="btn btn-primary update-btn"><a href="{% url 'edit_comment' comment.id %}">Edit</a></button>
                                    <button type="button" class="btn btn-danger update-btn"><a href="{% url 'delete_comment' comment.id %}">Delete</a></button>
                                    {% endif %}
                                    {% endfor %}
                                        
                                </div>
                            </div>
                        </div>
                        <!-- Comment form-->
                        
                        {% if commented %}
                            <div class="alert alert-success" role="alert">
                                Your comment is awaiting approval...
                            </div>
                        {% else %}
                        {% if user.is_authenticated %}

                        <h3>Leave a comment!</h3>
                        <form class="mb-4 form-control" method="post">
                            {{ comment_form | crispy }}
                            {% csrf_token %}
                            <button class="btn btn-primary" type="submit">Submit Comment</button>
                        </form>
                        {% endif %}
                        {% endif %}
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            {{ total_comments }}</strong>
                        {% endwith %}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <hr>
                    </div>
                </div>
                

{% endblock content %}